# Files and directories for git to ignore

# misc
*.DS_Store
*~
__pycache__/
.vscode/

# build files
*.egg-info
*.pyc

# data files
data/
*.tar.gz
scripts/reader/official_eval.py
cvd19-documents/
drQA-training-datasets/

# jupyter
*.ipynb_checkpoints*

# pycharm
.idea/