numpy==1.16.1
scikit-learn==0.22.2.post1
termcolor==1.1.0
regex==2020.5.7
tqdm==4.46.0
prettytable==0.7.2
scipy==1.4.1
nltk==3.5
elasticsearch==7.6.0
pexpect==4.2.1
gunicorn==20.0.4
Flask==2.3.2
spacy==2.2.4
torch==1.5.0
thinc==7.4.0

# other resources
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#en_core_web_sm
